
  <div class="page-body-wrapper full-page-wrapper auth-page">
    <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
      <div class="row w-100">
        <div class="col-lg-4 mx-auto">
          <h2 class="text-center mb-4">Register</h2>
          <div class="auto-form-wrapper">
            <form [formGroup]="registrationForm" (ngSubmit)="createUser()">

              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
                <mat-icon matSuffix *ngIf="registrationForm.get('name').valid">done</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Email</mat-label>
                <input matInput placeholder="pat@example.com" required formControlName="email">
                <mat-icon matSuffix *ngIf="registrationForm.get('email').valid">done</mat-icon>
                <mat-error *ngIf="registrationForm.get('email').invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Password</mat-label>
                <input matInput [type]="hidePass ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
                  <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>

              <div class="form-group">
                <button mat-stroked-button color="primary" class="w-100" type="submit" [disabled]="registrationForm.invalid">Create user</button>
              </div>

              <div class="text-block text-center my-3">
                <span class="text-small font-weight-semibold">Do you have an account?</span>
                <br>
                <a routerLink="/login" class="text-black text-small">Login</a>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
