
<mat-toolbar color="primary" class="col-sm-12 col-12 p-0 fixed-top d-flex flex-row mat-elevation-z3">
  <button mat-button><img src="favicon.ico"> Accounting dashboard</button>
  
  <span style="flex: auto;"></span>
 
  <img src="assets/images/faces/face1.jpg" alt="profile image" height="40" width="40" class="rounded-circle mr-3" style="cursor: pointer;" [matMenuTriggerFor]="menu">
  <mat-menu #menu="matMenu">
    <div class="flex-box flex-column w-100 text-center p-3" style="min-width: 200px;">
      <img src="assets/images/faces/face1.jpg" alt="profile image" height="40" width="40" class="rounded-circle" style="cursor: pointer;">
      <h3 class="text-capitalize">{{username}}</h3>
    </div>
  
  </mat-menu>
</mat-toolbar>