<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Detail of Income / Expenses</h4>

            <table class="table">
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Quantity</th>
                  <th>Type</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of incomeExpenseItems"> <!-- | incomeExpenseOrderBy-->
                  <td>{{item.description}}</td>
                  <td>{{item.quantity | currency:'EUR'}}</td>
                  <td [class.text-success]="item.type === 'income'" [class.text-danger]="item.type === 'expense'">{{item.type}}</td>
                  <td>
                    <button color="warn" mat-stroked-button (click)="deleteItem(item.uid)">
                      <mat-icon>delete</mat-icon> Delete
                    </button>
                  </td>
                </tr>
              </tbody>

            </table>


          </div>
        </div>
    </div>
</div>
  