<div class="row">
    <div class="col-6">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar>
              <i class="fa fa-money-bill-alt text-success icon-md"></i>
            </div>
            <mat-card-title>Income</mat-card-title>
            <mat-card-subtitle>36.000€</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p class="text-right">
              65% lower growth
            </p>
          </mat-card-content>
        </mat-card>

      </div>

      <div class="col-6">

          <mat-card>
            <mat-card-header>
              <div mat-card-avatar>
                <i class="fa fa-shipping-fast text-danger icon-md"></i>
              </div>
              <mat-card-title>Expenses</mat-card-title>
              <mat-card-subtitle>63.500€</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p class="text-right">
                65% lower growth
              </p>
            </mat-card-content>
          </mat-card>

        </div>
</div>